#
# - Schulcode ergibt die ConfigurationOfAlbusSchulname und ALSchulcodeSchoolConfigurator
#

---
albus:
  school:
    code: Hogwarts
    metacelloUrl: http://smalltalkhub.com/mc/quisas/albus/main
    metacelloUsername: 
    metacelloPassword: 
    repo: https://github.com/quisas/albus-school-hogwarts.git
    developerName: AndreasBrodbeck
    version: development
    environment: demo # oder production oder development
    productionHost: proplan.hopro.edu